<div class="wrapper">
  <div class="icons">
    <a href="https://t.me/emildenikaev" target="_blank"
      ><img src="assets/img/telegram.svg" alt="ICON:telegram" class="icon"
    /></a>
    <a href="https://github.com/Emil-Denikaev" target="_blank"
      ><img src="assets/img/git.png" alt="ICON:git" class="icon"
    /></a>
    <a href="https://vk.com/emildenikaev" target="_blank"
      ><img src="assets/img/vk.svg" alt="ICON:VK" class="icon vk"
    /></a>
  </div>

  <div class="copyrights">© 2022 All rights reserved.</div>
</div>
