<header>
  <nav class="header">
    <div class="header-me">
      <a
        class="header-me__logo"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><img src="favicon.ico" alt="ICON:logo" class="logo"
      /></a>
    </div>
    <div class="header-info">
      <a
        class="header-info__main"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Главная</a
      >
      <a
        class="header-info__about"
        [routerLink]="['/about']"
        routerLinkActive="active"
        >Обо мне</a
      >
      <a
        class="header-info__resume"
        [routerLink]="['/resume']"
        routerLinkActive="active"
        >Резюме</a
      >
      <a
        class="header-info__contacts"
        [routerLink]="['/contacts']"
        routerLinkActive="active"
        >Контакты</a
      >
    </div>
  </nav>
</header>
