<header>
  <nav class="header">
    <div>
      <a
        class="header-info header-info__main"
        [routerLink]="['/']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Главная</a
      >
      <a
        class="header-info header-info__about"
        [routerLink]="['/about']"
        routerLinkActive="active"
        >Обо мне</a
      >
      <a
        class="header-info header-info__resume"
        [routerLink]="['/resume']"
        routerLinkActive="active"
        >Резюме</a
      >
      <a
        class="header-info header-info__contacts"
        [routerLink]="['/contacts']"
        routerLinkActive="active"
        >Контакты</a
      >
    </div>
  </nav>
</header>
