.header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  .header-info {
    color: #697586;
    margin-right: 32px;
  }
  a:hover {
    color: #3C2769;
  }
}

.active {
  color: #6244A3!important;
}
