<div class="wrapper">
  <div class="emil">
    <img src="assets/img/emil.jpg" alt="ICON:flower-shop" class="emil__photo" />
  </div>
  <div class="info">
    <div class="info__me">Эмиль Деникаев</div>
    <div class="info__developer">front-end developer</div>
    <div class="info__developer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      exercitationem ratione, aliquid dolore repellat rerum deserunt. Eaque
      nostrum quasi voluptatum eligendi, itaque, a quas accusamus expedita
      accusantium consequuntur ex reprehenderit perspiciatis corrupti unde,
      molestias velit dicta maiores praesentium! Fugiat hic perferendis alias
      quia, unde aperiam! Quae dolorem dignissimos amet ad.
    </div>
    <a
      class="info__follow"
      [routerLink]="['/contacts']"
      routerLinkActive="active"
      >Связаться</a
    >
  </div>
</div>
