<div class="wrapper">
  <div class="emil">
    <img
      src="assets/img/emil1.jpg"
      alt="ICON:flower-shop"
      class="emil__photo"
    />
  </div>
  <div class="info">
    <div class="info__me">Эмиль Деникаев</div>
    <div class="info__frontend">Frontend developer</div>
    <div class="info__developer">
      Привет! Я веб-разработчик из Ульяновска! Занимаюсь программированием более
      3 лет из которых более 1 года в качестве frontend разработчика. В основном
      занимаюсь созданием интернет-магазинов. Люблю делать работу быстро и
      качественно.
    </div>
    <button
      class="info__follow"
      [routerLink]="['/contacts']"
      routerLinkActive="active"
    >
      Связаться
    </button>
  </div>
</div>
